
body{
background-color:rgb(189, 0, 236) ;
}


 h1{
color: rgb(114, 42, 0);
font-family: Arial, Helvetica, sans-serif;
background:rgb(32, 160, 199) ;
}

p{
color: ;
font-family: Arial, Helvetica, sans-serif;
font-size: ;
background: ;
}
