
body{
background-color:rgb(13, 233, 148) ;
}


 h1{
color: rgba(12, 2, 2, 0)21);
font-family: Arial, Helvetica, sans-serif;
background:rgb(199, 32, 115) ;
}

p{
cblack
font-family:font-variant-numeric: color: top: background-color: height: font-size: left: ;;;;;;;, Helvetica, sans-serif;
font-size::-moz-range-thumb ;
background:blank ;
}
ughbhv