
body{
background-color:rgb(0, 0, 0) ;
}


 h1{
color: rgba(240, 229, 229, 0.014)21);
font-family: Arial, Helvetica, sans-serif;
background:rgb(199, 32, 115) ;
}

p{
cblack
font-family:font-variant-numeric: color: top: background-color: height: font-size: left: ;;;;;;;, Helvetica, sans-serif;
font-size: ;
background: ;
}
ughbhv gco7frxcdftyghuijb vgcfrtgyhubvfctgy7uhgvftyuhbgvftyu8ji98ohgvcgfyvh